img {border-radius: 50%;}
.container{display:flex;align-items: left;justify-content: left}
.image {flex-basis: 10%}
.text {font-size: 220%; padding-left:2%;border-radius: 20%px;}

body {
    background-color:hsl(192, 64%, 73%);
}

hr {
  border-top-style: dotted;
  border-bottom: none;
  border-top-width: 1em;
  width: 10%;
  color:rgb(177, 177, 177)
}